body {
  background: #f0ece0;
}

/* ADDED */

/* .book-rate-input {
  display: flex;
}

.rate-btn {
  width: 30px;
  height: 30px;
}

.book-rate {
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.page-nav {
  margin-top: 20px;
}

.book-card .card,
.book-card .card-body {
  width: 200px;
}

.book-card h5,
.book-card p,
.book-card i {
  margin: 0;
}

.book-card h5 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu {
  transform: translate(-25px, 46px) !important;
}

.dropdown-toggle::after {
  display: none;
}

.page-link {
  cursor: pointer;
}

.disabled,
[disabled] {
  cursor: not-allowed;
}

.bi::after,
.bi::before {
  -webkit-font-smoothing: auto !important;
}

.dropdown-toggle {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dropdown-toggle:hover {
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.custom-sm-btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.75rem;
}

.lang-menu {
  background-color: #ffffff00;
  border: none;
  transform: translate(5px, 35px) !important;
}

.lang-item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  cursor: pointer;
}

.lang-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.11);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lang-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.114);
}

.pagination {
  padding: 0 !important;
}

.modal-title,
input {
  unicode-bidi: plaintext;
}

/* replicate langBtn to center H1 */
.placeholder {
  width: 42px;
  height: 42px;
  background-color: #ffffff00;
}
